[Unit]
Description=Rmodus Launch
After=network.target rmodus-network.service
Wants=rmodus-network.service

[Service]
Type=simple
User=__SERVICE_USER__
ExecStart=/usr/bin/bash __ENTRYPOINT__
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
